@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');


*{
    padding:0;
    margin:0%;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;/*viewport height I set it to entire screen*/
    background:rgb(59, 1, 59);
    font-family: 'Poppins', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    /*margin-bottom: 100px;*/
    /*padding-bottom: 100px;*/
   

}

header{
    position: relative;
    width: 80%;
    height: 77%;
    /*border: 1px solid white;*/
    border-radius:20px;
    overflow:hidden; /*if any content goes out of the box, it hides it*/
    box-shadow: 10px 10px 25px -8px #CCFF00,-10px -10px 25px -8px #CCFF00; /* horizontal, vertical, blur effect, spread radius- positive value increases size of shadow, negative value decreases*/
    /*when I mentioned 10px at the top whatever px we had at the top earlier,gets shifted to the bottom by 10px*/
    /*margin-bottom: 140px;*/


}
header::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background: url('Images/johnwick4.webp') no-repeat center center/cover;
    /*background-color: black;*/
    /*background-size: 45%; this adjust the size of the image*/
    opacity:.7; /*reduces the brightness of the image*/
    z-index:-1;/*only works on positioned elements and flex items.If the image has a z-index of -1, it will be placed behind the heading*/
}
header::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background: linear-gradient(180deg, transparent,rgba(226, 124, 226, 0.874));/* 0deg adds the black shade in the top, 180 deg adds at the bottom*/
    
    /*background-size: 45%; this adjust the size of the image*/
    opacity: .7; /*reduces the brightness of the image*/
    z-index:-1;/*only works on positioned elements and flex items.If the image has a z-index of -1, it will be placed behind the heading*/
}
header video{
    position:absolute;
    width:110%;
    height:230%;
    top:-67%;
    object-fit: contain; /*makes the video responsive*/
    object-position: center center;
    
    
    z-index:-1;
}
header nav{
    width:100%;
    height:25%;
    /*border:1px solid white; the nav border we had before*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 50px;
    margin-top:-20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height:100px;
    width:120px;
}
.logo ul{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.logo li{
    padding: 3px 15px;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: .3s linear;
}
.logo a:hover{
    color:rgb(255,255,255,.7);
}
.searchlogin{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.searchlogin input{
    padding: 3px 10px;
    border-radius:20px;
    border:none;
    outline:none;
    background: rgb(255,255,255,.3);
    color:white;
    margin-right:10px;
    
}
.searchlogin input::placeholder{
    color:white;
}
.searchlogin img{
    width: 35px;
    height: 35px;
}
.search{
    position: absolute;
    width:320px;
    height:220px;
    /*border:1px solid white;*/
    right:0;
    top:85px;
    z-index:99999;
    overflow-y: auto;/*gives scroll bar when multiple movies are there in the scroll*/
    
}


.search::-webkit-scrollbar{
    width:5px;
    background:rgb(255,255,255,.3);
    border-radius: 5px;
    visibility: hidden;
}
.search::-webkit-scrollbar-thumb{
    width:5px;
    background:rgb(255,255,255,.4);
    border-radius: 5px;
    visibility: hidden;
}
.search:hover::-webkit-scrollbar{
    visibility: visible;
}
.search:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
.card{
    position:relative;
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 3px 0px;
    text-decoration: none;
    display:none;
}
.card::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background: rgb(255,255,255,.1);
    /*background-size: 45%; this adjust the size of the image*/
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index:-1;/*only works on positioned elements and flex items.If the image has a z-index of -1, it will be placed behind the heading*/
}
.card img{
    height:105%;
    width:44px;
    margin-left: 8px;
    border-radius: 3px;
}
.cont{
    margin-left:10px;
    color:white;
}
.cont h3{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;/*shows ellipsis if the text does'nt fit the bar*/
    white-space: nowrap;
    width: 250px;
}
.cont p{
    font-size: 10px;
    color: rgb(255,255,255,.8);
}
.tronmeter{
    background: turquoise;
    color:black;
    padding:0px 4px;
    margin: 0px 5px 0px 10px;
    font-weight: 500;
}
.content{
    position:relative;
    color:white;
    margin-top:20px;
    padding-left: 40px;
}
.content h1{
    font-size: 36px;
    
}
.content p{
    font-size: 13px;
    width: 460px;
    
}
.details{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.details h6{
    color:rgb(255,255,255,.8);
    font-size: 12px;
    margin-right:10px;
}
.details h5{
    color:rgb(195, 140, 11);
    font-size:13px;
    margin-right:10px;
}
.details h3{
    color:white;
    display:flex;
    align-items: center;
    font-size: 13px;
}
.details h4{
    color:white;
    font-size:12px;
    margin-right:10px;
}
.details h3 span{
    background: turquoise;
    color:black;
    padding:0px 4px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
    font-family: 'Monoton', cursive;
    border-radius: 5px;
}
.details h3 i{
    margin-right:4px;
}
#trending{
    font-size: 43px;
    font-family: 'Advent Pro', sans-serif;
    word-spacing: 5px;
    letter-spacing: 3px;
    color:rgb(255,255,255,.6);
    margin-top: -20px;
    
}
#title{
    padding-top: 6px;
}
.btns{
    margin-top:20px;
    display:flex;
    align-items: center;
}
.btns a{
    padding: 8px 12px;
    font-size:14px;
    font-weight:600;
    background: linear-gradient(90deg, #00bdff,#0079ff);
    border-radius: 4px;
    color:white;
    margin-left:10px;
    text-decoration: none;
    animation: button 0.8s linear infinite;
    margin-top: 70px;
    
}

@keyframes button{
    0%{
        background: linear-gradient(0deg, #00bdff,#0079ff);
    }
    12%{
        background: linear-gradient(45deg, #00bdff,#0079ff);
    }
    24%{
        background: linear-gradient(95deg, #00bdff,#0079ff);
    }
    36%{
        background: linear-gradient(145deg, #00bdff,#0079ff);
    }
    48%{
        background: linear-gradient(195deg, #00bdff,#0079ff);
    }
    60%{
        background: linear-gradient(245deg, #00bdff,#0079ff);
    }
    72%{
        background: linear-gradient(295deg, #00bdff,#0079ff);
    }
    84%{
        background: linear-gradient(310deg, #00bdff,#0079ff);
    }
    100%{
        background: linear-gradient(360deg, #00bdff,#0079ff);
    }
    
}
#play{
    margin-left:0;
    margin-right:150px;
}
/*header section{
    position: absolute;
    width:100%;
    height: auto;
    padding: 0px 50px;
    bottom:20px;
    color:white;
}*/
/*.cards{
    position: relative;
    width:100%;
    height:200px;
    border: 1px solid white;
    margin-top: 10px;
    display: flex;
    align-items: center;
}*/
/* Section Part*/
/*section {
    padding-top:800px;
    position: absolute;
    color:white;
    height: auto;
    width: 80%;
    font-size: 20px;
    margin-top: 110px;
    
}
.trendcards{
    position:relative;
    width:100%;
    height:200px;
    border: 1px solid white;
    margin-top:10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    
}

.oldclassics{
    margin-top:700px;
}
.trendcards a.card{
    position:relative;
    display: inline-block;
    min-width:130px;
    height:180px;
    border:1px solid white;
    border-radius:8px;
    margin-right:10px;
    background:black;
    transition:.3s linear;
    
}
.oldclassics*/
.trendingmovies{
   
    position: absolute;
    width:80%;
    height: auto;
    color:white;
    margin-top:900px;
    
   
    
}
.trendcards{
    
    position:relative;
    width:100%;
    height:200px;
    border:1px solid white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
/*.trendcards::-webkit-scrollbar{
    display: none; hides the scrollbar
}*/

.trendcards a.card{
    position:relative;
    display: inline-flex;
    min-width:130px;
    height:180px;
    border: 1px solid white;
    border-radius: 8px;
    background: black;
    transition: 0.3 linear;
    margin-right:5px;
    margin-top:10px;
    margin-left:10px;
    
}
.trendcards a.card img.poster{
    width:100%;
    height:100%;
    border-radius: 8px;
    position: relative;
    margin-left:0;
    cursor:pointer;
}
.oldclassics{
    position:absolute;
    margin-top:1450px;
    color:white;
    /*margin-right:190px;*/
    margin-left:0px;
}
.oldclassiccards{
    position:relative;
    width:1210px;
    height:200px;
    margin-top:10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    
}
.oldclassiccards a.card{
    position:relative;
    display:inline-flex;
    min-width:130px;
    height:180px;
    border:1px solid white;
    border-radius: 8px;
    background: black;
    transition: 0.3 linear;
    margin-right: 5px;
    margin-top:10px;
    margin-left: 10px;
}
.oldclassiccards a.card img.poster{
    width:100%;
    height:100%;
    border-radius: 8px;
    position: relative;
    margin-left:0;
    cursor: pointer;
}

/*footer{
    background-color: black;
    color: white;
    display: flex;
    position: absolute;
    
}*/
/*.trendcards a.card img.posteravatar{
    width:100%;
    height: 100%;
    /*object-fit: cover;
    margin-left: 0;
    border-radius: 8px;
    position: relative;
}*/
/*.trendcards a.card:hover{
    min-width:300px;
    overflow: hidden;
}
.restcard {
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 8px;
    left:0;
    top:0;
    z-index:999999;
    opacity:0;
    transition:1s linear;
    
}
.restcard img.extendavatar{
    position:relative;
    width:100%;
    height:100%;
    border-radius: 8px;
    margin-left: 0;
    z-index:-1;
    
}
.restcard::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background: linear-gradient(180deg, transparent,rgba(226, 124, 226, 0.874));/* 0deg adds the black shade in the top, 180 deg adds at the bottom
    left:0;
    bottom:0;
    /*background-size: 45%; this adjust the size of the image
    opacity: .7; /*reduces the brightness of the image
    z-index:-1;/*only works on positioned elements and flex items.If the image has a z-index of -1, it will be placed behind the heading
}
.restcard::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background: linear-gradient(180deg, transparent,black); 0deg adds the black shade in the top, 180 deg adds at the bottom
    left:0;
    bottom:0;
    /*background-size: 45%; this adjust the size of the image
    opacity: .7; /*reduces the brightness of the image
    z-index:-1;/*only works on positioned elements and flex items.If the image has a z-index of -1, it will be placed behind the heading
}
.cont{
    position:absolute;
    width:100%;
    bottom:10px;
    left:0;
    color:white;
    padding: 0px 20px;
}
/*.sub{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sub p{
    font-size: 12px;
    font-weight: 400;
}
.sub h3{
    color: white;
    font-size: 12px;
    display: flex;
    align-items:center;
}
.sub h3 span{
    background: cyan;
    color:black;
    padding: 0px 2px;
    margin: 0px 5px 0px 0px;
    font-weight: 500;
    border-radius: 2px;
    font-family: 'Monoton',cursive;
}
.sub h3 i{
    margin-right:3px;
}
.trendcards a.card::hover .restcard{
    opacity:1;
}*/